*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
}

.display-flex{
    display: flex;
}

.container-medium{
    max-width: 1200px;
    margin: 0 auto;
}

.container-mini{
    max-width: 1000px;
    margin: 0 auto;
}