*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container-max{
    width: 100vw;
}

.container-medium{
    max-width: 1200px;
    margin: 0 auto;
}

.container-mini{
    max-width: 1000px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.display-flex-bet{
    display: flex;
    justify-content: space-between;
}

.display-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

.display-bet-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.width-block{
    width: 300px;
}

.text_color-gray{
    color: #777;
}

.bottom_a-blue{
    text-decoration: none;
    font-weight: 300;
    color: white;
    background-color: #0061ff;
    padding: 10px;
}

.bottom_colonna{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.bottom-white{
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    border: 1px solid black;
    padding: 10px;
}

.clearfix::after{
    content: '';
    display:table ;
    clear: both;
}
h2{
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 50px;
}
h3{
    font-weight: 700;
    padding: 10px 0;
    color: black;

}
p{
    font-weight: 300;
    font-size: 1em;
}
#sezione_uno,
#sezione_due,
#sezione_tre,
#sezione_quattro{
    margin: 230px 0;
}