.debug .border-red{
    border: 2px dashed red;
}

/* **************************************************************** */




.debug main .main-first-fotimg{
    background-color: lightpink;
    height: 500px;
    width: 60%;
}
.debug main .main-first-fottext{
    background-color: lightskyblue;
    height: 500px;
    width: 40%;
}


/* main second  */
.debug main .main-second{

}
.debug main .main-second-block{
    margin: 50px 0;
    gap: 50px 50px;
}
.debug main .main-second-card{
    background-color: lightseagreen;
    height: 300px;
    
}
.debug main .main-second-text{
    background-color: lightpink;
    height: 200px;
}


/* main three */
.debug main .main-three-box-left{
    background-color: lightgrey;
    width: calc(100vw / 3);
    /* height: calc(100vw / 3); */  /* da capire Aspect-Ratio */
    /* padding-top: 100%; */    /* da capire Aspect-Ratio*/
    aspect-ratio: 1; /*chiedere se funziona bene così*/
}

/* .debug main .main-three-box-left{
    background-color: lightgrey;
    width: calc(100% / 3);                          Opzione utilizzzabile con height in vw
    height: calc(100vw / 3);  
 } */


.debug main .main-three-box-center{
    background-color: lightgoldenrodyellow;
    width: calc(100vw / 3);
    /*height: calc(100vw / 3);*/    /* da capire Aspect-Ratio*/
    /* padding-top: 100%; */    /* da capire Aspect-Ratio*/
    aspect-ratio: 1;
}
.debug main .main-three-box-right{
    background-color: lightslategray;
    width: calc(100vw / 3);
    /*height: calc(100vw / 3);*/    /* da capire Aspect-Ratio*/
    /* padding-top: 100%; */    /* da capire Aspect-Ratio*/
    aspect-ratio: 1;
}


/* main four  */
/* lasciato vuoto per ora  */


/* footer  */
footer{
    background-color: black;
}


/* footer first  */
.debug footer .footer_first{
    background-color: lightgrey;
    padding: 50px 0;
    height: 200px;
}


/* footer last  */
.debug footer .footer_last{
    background-color: gray;
    padding: 50px 0;
    height: 100px;
}
