.debug .border-red{
    border: 2px dashed red;
}

/* **************************************************************** */
.debug header{
    
}

.debug header .header-first{
    background-color: white;
    height: 70px;
    width: 100%;
    justify-content: space-between;
}

.debug header .header-first-logo{
    background-color: lightcyan;
    height: 100%;
    width: 150px;
}

.debug header .header-first-left{
    background-color: lightcoral;
    height: 100%;
    width: 300px;
}

.debug header .header-first-right{
    background-color: lightgreen;
    height: 100%;
    width: 300px;
}

.debug header .header-second{
    width: 100%;
    height: 700px;
    background-color: lightsalmon;
}
.debug header .header-second-title{
    background-color: lightslategray;
    height: 200px;
    width: 100%;
}
.debug header .header-second-blocktext{
    background-color: lightblue;
    height: 400px;
    width: 40%;
}
.debug header .header-second-img{
    background-color: lightcoral;
    height: 400px;
    width: 60%;
}



.debug main .main-first{

}
.debug main .main-first-title{
    background-color: lightblue;
    height: 300px;
    width: 100%;
}
.debug main .main-first-container{
    width: 100%;
    gap: 50px;
}
.debug main .main-first-colonna{
    background-color: lightskyblue;
    height: 700px;
    width: 300px;
    margin-top: 50px;
}
.debug main .main-first-colonnamax{
    background-color: lightgreen;
    height: 150px;
    width: 100%;
    margin: 50px 0;
}
.debug main .main-first-fot{

}
.debug main .main-first-fotimg{
    background-color: lightpink;
    height: 500px;
    width: 60%;
}
.debug main .main-first-fottext{
    background-color: lightskyblue;
    height: 500px;
    width: 40%;
}