/* header first  */
#header > div{
    position: relative;
}
#header .header-first{
    background-color: white;
    height: 70px;
    padding: 20px;
    
    width: 100%;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;

    /* shadow */
    -webkit-box-shadow: 0px 5px 16px 0px rgba(180,208,231,0.5); 
    box-shadow: 0px 5px 16px 0px rgba(180,208,231,0.5);
}

#header .header-first .header-first-left,
#header .header-first .header-first-right{
    align-items: center;

}
#header .header-first .header-first-link ul{
    list-style-type: none;
}

#header .header-first .header-first-link ul li{
    display: inline-block;
    padding: 0 20px;
}

#header .header-first .header-first-link ul li a{
    text-decoration: none;
}

/* header second */
#header .header-second{
    width: 100vw;
    background-color: #b4d0e7;
    padding-top: 70px;
    margin-bottom: 100px;
}

#header .header-second h1{
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    line-height: 70px;
    /* padding: 30px; */
    padding-top: 30px;

}
#header .header-second .header_second-box{
    position: relative;
    top: 50px;
}

#header .header-second-blocktext{
    width: 30%;
    position: relative;

}
#header .header-second .header-second-blocktext a{
    display: inline-block;
    margin: 50px 0;
}
#header .header-second .header-second-blocktext a i{
    font-size: 2.5em;
    color: black;

    position: absolute;
    left: 0;
    bottom: 80px;
}
#header .header-second-img{
    width: 70%;
}
#header .header-second-img img{
    width: 100%;
}


/* SEZIONE 1 DEL MAIN */
main .main-first-colonna{
    margin-top: 50px;
    border: 1px solid #777;
}
main .main-first-colonnamax{
    margin: 50px 0;
    border: 1px solid #777;
}
/* colonna */
    /* 3 colonne  */
main .main-first .colonna_header{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #777;
    font-size: 0.7em;
    width: 100%;
}
main .main-first .colonna_main{
    padding: 20px;
}

main .colonna_max-lato-a{
    font-weight: 700;
    padding: 10px 0;
    color: black;
}
main .colonna_main p,
main .colonna_main li,
main .colonna_main div{
    color: #777;
    font-size: 0.7em;
}
main .colonna_main .colonna_price,
main .colonna_main .colonna_price-b{
    font-weight: 700;
    color: black;
}
main .colonna_main .colonna_price:before{
    content: '\20AC';
}
main .colonna_main p{
    margin: 5px 0;
}
main .colonna_main ul{
    margin: 30px 0;
    line-height: 2;
    list-style-type: none;
}
main .colonna_main div:nth-child(6){
    margin: 25px 0;
}
main .colonna_main h5{
    font-weight: 700;
    font-size: 0.8em;
    margin: 30px 0;
}
main .colonna_main hr{
    margin: 25px 0;
}
main .elenco_main-colonna i{
    color: black;
}
main .elenco_footer-colonna i{
    color: blue;
}

    /* maxi colonna  */
.main-first .bottom-max{
    /* display: inline-block; */
    float: right;
}

/* SEZIONE 2 DEL MAIN */
main .sezione_due{
    margin: 100px 0;
}
main .sezione_due-img{
    height: 500px;
    width: 60%;
}
main .sezione_due-text{
    padding: 30px;
    height: 500px;
    width: 40%;
}
/* main .main-first-fottext p{
    font-weight: 300;
} */
main .contenitore_sezione-due img{
    height: 100%;
}
main .contenitore_sezione-due .bottom-white{
    margin-top: 30px;
    color: black;
}

/* SEZIONE 3 DEL MAIN */
main .tre-block{
    margin: 50px 0;
    gap: 50px 50px;
}
main .tre-card{
    width: 300px;
    min-height: 500px;
}
main .tre-card .card_only{
    height: 250px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#card_uno{
    background-image: url(../img/img/business-feature-switching-tools.png);
}
#card_due{
    background-image: url(../img/img/business-feature-send-files-it.png);
}
#card_tre{
    background-image: url(../img/img/business-feature-coordinate-it.png);
}
#card_quattro{
    background-image: url(../img/img/business-feature-integrations-it.png);
}
#card_cinque{
    background-image: url(../img/img/business-feature-multi-device.png);
}
#card_sei{
    background-image: url(../img/img/business-feature-security.png);
}
    

/* SEZIONE 4 DEL MAIN */
/*   Vuoto senza regole   */

/*   SEZIONE 5 DEL MAIN   */
#sezione_cinque .cinque_box-maxi{
    background-color: lightgrey;
    width: calc(100% / 3);
    height: calc(100vw/3);
    /* aspect-ratio: 1; */
}
#sezione_cinque .cinque_box-maxi > div{
    width: 50%;
    height: 50%;
}
#sezione_cinque  .generale_bg{
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
#sezione_cinque .img_a-uno,
#sezione_cinque .img_a-due,
#sezione_cinque .img_a-tre,
#sezione_cinque .img_a-quattro,
#sezione_cinque .img_b-uno,
#sezione_cinque .img_b-due,
#sezione_cinque .img_b-tre,
#sezione_cinque .img_b-quattro{
    filter:invert(1);
}
#sezione_cinque  .img_a-uno{
    background-image: url(../img/img/designit.svg);
}
#sezione_cinque  .bg_a-uno{
    background-color: #a2d39b;
}
#sezione_cinque  .img_a-due{
    background-image: url(../img/img/arizona_state_university.svg);
}
#sezione_cinque  .bg_a-due{
    background-color: #61082b;
}
#sezione_cinque  .img_a-tre{
    background-image: url(../img/img/university_of_florida.svg);
}
#sezione_cinque  .bg_a-tre{
    background-color: #0093ce;
}
#sezione_cinque  .img_a-quattro{
    background-image: url(../img/img/topps.svg);
}
#sezione_cinque  .bg_a-quattro{
    background-color: #ff1c1c;
}
#sezione_cinque  .img_b-uno{
    background-image: url(../img/img/world_bicycle_relief.svg);
}
#sezione_cinque  .bg_b-uno{
    background-color: #d5001f;
}
#sezione_cinque  .img_b-due{
    background-image: url(../img/img/hearst_corp.svg);
}
#sezione_cinque  .bg_b-due{
    background-color: #b4d0e7;
}
#sezione_cinque  .img_b-tre{
    background-image: url(../img/img/lonely_planet.svg);
}
#sezione_cinque  .bg_b-tre{
    background-color: #0d2481;
}
#sezione_cinque  .img_b-quattro{
    background-image: url(../img/img/clear_channel.svg);
}
#sezione_cinque  .bg_b-quattro{
    background-color: #ffd830;
}


/* box centrale */
#sezione_cinque .box_centrale{
    overflow: auto;
    padding: 50px;
}
#sezione_cinque .box_centrale img{
    width: 50%;
    object-fit:cover;
}
#sezione_cinque cite{
    display: inline-block;
    margin:50px 0;
}


/*   SEZIONE 6 DEL MAIN   */
#sezione_sei .contenitore_sei{
    background-color: #b4d0e7;
    padding: 150px 0;
}
#sezione_sei h2{
    padding-bottom: 0;
    color: #5f052b;
}
#sezione_sei a{
    align-self: flex-start;
    color: black;
}


/*   SEZIONE 7 DEL MAIN   */
#sezione_sette hr{
    width: 100%;
}
#sezione_sette .sette_main-1 .display-flex-bet{
    align-items: center;
}
#sezione_sette .sette_finestra{
    padding-top: 50px;
}

/* FOOTER  */
footer{
    background-color: black;
    padding: 50px 0;
}
footer .footer_box{
    width: calc(1200px/5);
}
footer .footer_box h3{
    color: white;
    line-height: 50px;
}
footer .footer_box ul{
    text-decoration: none;
}
footer .footer_box li{
    line-height: 30px;
}
footer .footer_box a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    
}
footer .container-medium hr{
    width: 10%;
}
footer .footer_last{
    color: white;
    font-weight: 300;
}